<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>HTML Templating - SiteChef Theme Documentation</title>
  

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../css/theme_extra.css" type="text/css" />
  <link rel="stylesheet" href="../css/highlight.css">
  <link rel="icon" type="image/png" href="../img/favicon.png">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script type="text/javascript" src="../js/highlight.pack.js"></script>
  <script src="../js/theme.js"></script>

  <style>
    body {font-size: 90%;}
    pre, code {font-size: 100%;}
    h3, h4, h5, h6 {color: #6A6A6A; font-weight: 300}
  </style> 
</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side stickynav">
      <div class="wy-side-nav-search">
        <a href=".." class="icon icon-home"> SiteChef Theme Documentation</a>
        
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
      <ul class="current">
    
        
        <span>General Use</span>
            
                <li class="toctree-l1 ">
                    <a class="" href="..">Introduction & QuickStart</a>
                    
                </li>
            
                <li class="toctree-l1 ">
                    <a class="" href="../installation">Installation</a>
                    
                </li>
            
                <li class="toctree-l1 ">
                    <a class="" href="../structure">Theme Structure</a>
                    
                </li>
            
                <li class="toctree-l1 current">
                    <a class="current" href=".">HTML Templating</a>
                    
                        <ul>
                        
                            <li class="toctree-l2"><a href="#basics">Basics</a></li>
                            
                                <li><a class="toctree-l3" href="#template-data-structure">Template Data Structure</a></li>
                            
                        
                            <li class="toctree-l2"><a href="#templating-language">Templating Language</a></li>
                            
                                <li><a class="toctree-l3" href="#variables">Variables</a></li>
                            
                                <li><a class="toctree-l3" href="#sitechef-variables">SiteChef Variables</a></li>
                            
                                <li><a class="toctree-l3" href="#including-other-templates">Including Other Templates</a></li>
                            
                                <li><a class="toctree-l3" href="#rendering-images">Rendering Images</a></li>
                            
                                <li><a class="toctree-l3" href="#filters">Filters</a></li>
                            
                                <li><a class="toctree-l3" href="#filter-reference">Filter Reference</a></li>
                            
                        
                            <li class="toctree-l2"><a href="#frontend-templates">Frontend Templates</a></li>
                            
                                <li><a class="toctree-l3" href="#frontend-template-guide">Frontend Template Guide</a></li>
                            
                        
                            <li class="toctree-l2"><a href="#widget-pages">Widget Pages</a></li>
                            
                        
                            <li class="toctree-l2"><a href="#templating-differences">Templating Differences</a></li>
                            
                                <li><a class="toctree-l3" href="#unavailable-nunjucks-functionality">Unavailable Nunjucks Functionality</a></li>
                            
                        
                        </ul>
                    
                </li>
            
                <li class="toctree-l1 ">
                    <a class="" href="../scss">Stylesheets</a>
                    
                </li>
            
                <li class="toctree-l1 ">
                    <a class="" href="../assetpipeline">Compiling Frontend Assets</a>
                    
                </li>
            
                <li class="toctree-l1 ">
                    <a class="" href="../datastructure">Data Structure</a>
                    
                </li>
            
                <li class="toctree-l1 ">
                    <a class="" href="../frontendapi">Frontend API Overview</a>
                    
                </li>
            
                <li class="toctree-l1 ">
                    <a class="" href="../publishing">How to Publish Your Theme</a>
                    
                </li>
            
        

    
        
        <span>Config Files</span>
            
                <li class="toctree-l1 ">
                    <a class="" href="../configfiles/sitechefrc">.sitechefrc</a>
                    
                </li>
            
                <li class="toctree-l1 ">
                    <a class="" href="../configfiles/themejson">theme.json</a>
                    
                </li>
            
        

    
        
        <span>Frontend Library Reference</span>
            
                <li class="toctree-l1 ">
                    <a class="" href="../libraries">Overview</a>
                    
                </li>
            
        

    
</ul>

      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href=".."></a>
      </nav>

      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="..">Theme Documentation</a> &raquo;</li>
    <li>HTML Templating</li>
      <li class="wy-breadcrumbs-aside">
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main">
            <div class="section html-templating">
              <p>SiteChef uses <a href="http://mozilla.github.io/nunjucks/">Nunjucks</a> with some minor
<a href="#templating-differences">modifications</a>.</p>
<p>Nunjucks is a javascript templating language heavily inspired by Python's
<a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a></p>
<h1 id="basics">Basics</h1>
<p>The templates are compiled using <code>index.html</code> as the starting point.
An effort has been made to keep the subsections as modular as possible.
This is a very basic overview of the templating language.
A more thorough description can be found <a href="http://mozilla.github.io/nunjucks/templating.html">here</a>,
but <em>please be aware of the following <a href="#templating-differences">exceptions</a></em></p>
<p>Variables and any content you wish to output into the text are encircled by
double curly braces <code>{{ variable }}</code></p>
<p>Logic and any expressions are enclosed by a single curly brace and the
percentage sign: <code>{% if something %}{% endif %}</code></p>
<h3 id="template-data-structure">Template Data Structure</h3>
<p>See <a href="../datastructure">here</a> for a complete list of the data available to you</p>
<h1 id="templating-language">Templating Language</h1>
<h2 id="variables">Variables</h2>
<p>Variables are written inside double curly braces: <code>{{ variable }}</code></p>
<p>Children of items are specified in a notation similar to javascript.
For example, with the object <code>var myItems = { item1: 'My Item', 'item2:'Second Item'};</code>
<code>item2</code> can be referred to as <code>{{ myItems.item2 }}</code></p>
<p>For example the code:</p>
<pre><code>    &lt;h1 class="restaurant-name"&gt;{{ preferences.restaurantName }}&lt;/h1&gt;
</code></pre>
<p>would render the following HTML if the variables preferences.restaurantName is 'My Restaurant':</p>
<pre><code>    &lt;h1 class="restaurant-name"&gt;My Restaurant&lt;/h1&gt;
</code></pre>
<h2 id="sitechef-variables">SiteChef Variables</h2>
<p>SiteChef includes a number of variables specified in the <a href="../datastructure">data structure</a> list that are important when referring to frontend assets.</p>
<p>The most important is <code>assetsRoot</code> which contains the absolute path of the <code>dist/</code> directory.</p>
<p>For example to include your minified <code>app.min.js</code> script, you would write thef following html:</p>
<pre><code>&lt;script type="text/javascript" src='{{ assetsRoot }}js/app.min.js'&gt;&lt;/script&gt;
</code></pre>
<p>Unless you are referring to a library available on a public CDN like <a href="https://cdnjs.com">CDNJS</a>, use the <code>assetsRoot</code> variable to ensure that they are accessible both in development locally and in production.</p>
<h2 id="including-other-templates">Including Other Templates</h2>
<p>There are two principal ways of including other template files in your templates: <code>include</code> and <code>extends</code></p>
<h3 id="1-include">1. Include</h3>
<p>HTML from other templates can be included as a block using the <code>include</code> syntax.</p>
<p>For example, if you have a template for the main website navigation and you call it <code>navigation.html</code>,
you can include it in your main <code>index.html</code> like this:</p>
<pre><code>&lt;div class="container"&gt;
    {% include 'navigation.html' %}
&lt;/div&gt;
</code></pre>
<h3 id="2-extends">2. Extends</h3>
<p>Extend allows you to use another page as a starting point, then selectively modify elements
of the page. Each element you would like to override is delimited by "blocks" eg:</p>
<pre><code>{% block menu %}
    &lt;ul class="my-meny"&gt;
    &lt;/ul&gt;
{% endblock %}
</code></pre>
<p>And so, your base page (<code>base.html</code>) might look like this:</p>
<pre><code>&lt;div class="container"&gt;
    {% block myTitle %}
        &lt;h1&gt;My Main Title&lt;/h1&gt;
    {% endblock %}
&lt;/div&gt;
</code></pre>
<p>And you would like your  <code>about.html</code> template to be the
same as the <code>base.html</code> except with a different title.
Your <code>about.html</code> page would look like this:</p>
<pre><code>{% extends 'base.html %}
{% block myTitle %}
    &lt;h2&gt;My Different Title&lt;/h2&gt;
{% endblock %}
</code></pre>
<h2 id="rendering-images">Rendering Images</h2>
<p>Rendering images attractively across platforms can be tricky.
SiteChef has developed a number of <a href="../libraries">frontend libraries</a>
which simplify this process by resizing images before they have loaded
and managing html5 video content or videos from Vimeo or Youtube.</p>
<p>To ensure these libraries work seamlessly, use the "imageBuilder.html" macro
to generate the html for any full resolution images (ie not thumbnails)</p>
<ol>
<li>First import the macro: <code>{% from 'defaults/imageBuilder.html' import imageBuild %}</code></li>
<li>Iterate through your images calling the image builder:<pre><code>{# this is an example from blog post template #}
{% for post in content.blogPosts %}
    &lt;div class="blog-post"&gt;
        &lt;h1&gt;{{ post.title }}&lt;/h1&gt;
        {# check if there is a featured image #}
        {% if post.featuredImage %}
            {# There is, so use imageBuild to create the image #}
            {{ imageBuild(post.featuredImage, 'post-image', false, true) }}
        {% endif %}
    &lt;/div&gt;
{% endfor %}
</code></pre>
</li>
</ol>
<p>The imageBuild macro takes the following parameters:</p>
<ul>
<li><em>ImageData</em>: {Object} data object for the image</li>
<li><em>ImageClass</em>: {String} a class to apply to the image</li>
<li><em>ShowMobileVersion</em>: {Boolean} display the mobile version of the image</li>
<li><em>LazyLoad</em>: {Boolean} write the src of the image to data-src instead to enable lazy-loading</li>
</ul>
<h2 id="filters">Filters</h2>
<p>Filters modify variables and follow a <code>|</code> and the variable: <code>{{ variable | filter }}</code></p>
<p>For example, where <code>customerName = 'Andrew Smith'</code></p>
<pre><code>&lt;div class="customer-name"&gt;{{ customerName | upper }}&lt;/div&gt;
</code></pre>
<p>would render to</p>
<pre><code>&lt;div class="customer-name"&gt;ANDREW SMITH&lt;/div&gt;
</code></pre>
<p>N.B. the filters available with SiteChef is <strong>not</strong> entirely the same
as those specified in <a href="http://mozilla.github.io/nunjucks/templating.html#filters">the Nunjucks Documentation</a>
See <a href="#filter-reference">below</a> for an absolute list of what you can use</p>
<h2 id="filter-reference">Filter Reference</h2>
<p>These are the available filters:</p>
<h5 id="abs">abs</h5>
<p><em>function(number)</em> Return the absolute value of the argument</p>
<h5 id="batch">batch</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#batch">here</a></p>
<h5 id="capitalize">capitalize</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#capitalize">here</a></p>
<h5 id="default">default</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#default">here</a></p>
<h5 id="escape-aliased-as-e">escape (aliased as e)</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#escape">here</a></p>
<h5 id="first">first</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#first">here</a></p>
<h5 id="join">join</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#join">here</a></p>
<h5 id="json_encode">json_encode</h5>
<p><em>function(mixed)</em> Return the input JSON encoded</p>
<h5 id="last">last</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#last">here</a></p>
<h5 id="length">length</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#length">here</a></p>
<h5 id="lower">lower</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#lower">here</a></p>
<h5 id="nl2br">nl2br</h5>
<p><em>function(string)</em> Return the input with linebreaks replaced as <code>&lt;br/&gt;</code></p>
<h5 id="replace">replace</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#replace">here</a></p>
<h5 id="reverse">reverse</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#reverse">here</a></p>
<h5 id="round">round</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#round">here</a></p>
<h5 id="rnd">rnd</h5>
<p><em>function(number)</em> Return a random integer between 0 and <em>number</em></p>
<h5 id="safe">safe</h5>
<p><em>function(string)</em> Does not escape html in the string</p>
<p>eg</p>
<pre><code>&lt;script type="text/javascript"&gt;
    var myBigObject = {{ myBigObject | json_encode | safe }};
&lt;/script&gt;
</code></pre>
<p>outputs a raw json-encoded object for use in frontend javascript</p>
<h5 id="slice">slice</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#slice">here</a></p>
<h5 id="sort">sort</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#sort">here</a></p>
<h5 id="title">title</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#title">here</a></p>
<h5 id="trim">trim</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#trim">here</a></p>
<h5 id="upper">upper</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#upper">here</a></p>
<h5 id="urlencode">urlencode</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#urlencode">here</a></p>
<h5 id="wordcount">wordcount</h5>
<p>see <a href="http://jinja.pocoo.org/docs/dev/templates/#wordcount">here</a></p>
<p>The following Nujucks filters <strong>cannot</strong> be used with SiteChef. <em>You will find that
they may work when using <code>sitechef serve</code> but <strong>will not work in production</strong>.</em></p>
<ul>
<li>center</li>
<li>dictsort</li>
<li>float</li>
<li>groupby</li>
<li>indent</li>
<li>int</li>
<li>list</li>
<li>random</li>
<li>string</li>
<li>truncate</li>
</ul>
<h1 id="frontend-templates">Frontend Templates</h1>
<p>Backend templates in the <code>templates/</code> folder can also be used in frontend
javascript code.</p>
<p>In order to be able to access frontend templates in your code, you will
need to do three things:</p>
<h2 id="frontend-template-guide">Frontend Template Guide</h2>
<h4 id="1-compile-selected-templates-to-javascript">1. Compile Selected Templates to Javascript</h4>
<p>This can be done automatically using the Gulp task <code>templates</code>. You will need to edit the configuration file <code>gulp-templates</code> and add all templates referenced and any templates included or imported. See <a href="../assetpipeline#frontend-templates">here</a> for detailed instructions and an example.</p>
<h4 id="2-include-the-nunjucks-slim-library-in-your-html">2. Include the <code>Nunjucks Slim</code> library in your html</h4>
<p>Add the following tag to your html before the main <code>app.js</code> script:</p>
<pre><code>&lt;script type="text/javascript" src="https://cdn.jsdelivr.net/nunjucks/1.0.0/nunjucks-slim.min.js"&gt;&lt;/script&gt;
</code></pre>
<h4 id="3-ensure-that-the-templateminjs-script-is-included-in-your-html">3. Ensure that the <code>template.min.js</code> script is included in your html</h4>
<p>The asset pipeline compiles the templates to <code>template.js</code> and the minified <code>template.min.js</code> javascript files in the <code>dist/js</code> folder.</p>
<p>Ensure that one of these scripts is included before your <code>app.js</code>/ <code>app.min.js</code>:</p>
<pre><code>&lt;script type="text/javscript" src='{{ assetsRoot }}js/template.min.js'&gt;&lt;/script&gt;
</code></pre>
<p><em>Note that the variable "assetsRoot" is used instead of an absolute path, this
ensures that the file can be found whether in production or running locally in
development</em></p>
<h4 id="4-require-our-nunjucksenvjs-script-and-render-template">4. Require our <code>nunjucksEnv.js</code> script and render template</h4>
<p>Assuming that you are using the default asset pipeline, the following
example would template <code>myTemplate.html</code> with the the data <code>{item1:'myItem', item2:'my second item'}</code>:</p>
<pre><code>// assumes this is "js/app.js"

var NunjucksEnv = require("../lib/nunjucksEnv.js");

// construct our nunjucks environment
// 'nunjucks' should be available globally
// after including the above script

var env = NunjucksEnv.make(nunjucks);

// the environemnt is now ready to template

var myData = {
    item1: 'myItem',
    item2: 'my second item'
};
var myRenderedContent = env.render("myTemplate.html", myData);
</code></pre>
<h1 id="widget-pages">Widget Pages</h1>
<p>SiteChef enables users to include "widgets" in some free text fields.
These widgets are rendered separately to the main template render.
Currently there are two available widgets:</p>
<ol>
<li>Contact Widget - requires the template <code>contactPage.html</code></li>
<li>Food Menu Widget - requires the template <code>foodMenu.html</code></li>
</ol>
<p>More detail is available in the description of the <a href="../datastructure#widgets">widget data structure</a></p>
<h1 id="templating-differences">Templating Differences</h1>
<p>The main difference between SiteChef's templating system and Nunjucks are the filters.
Please stick to the <a href="#filter-reference">absolute list above</a> to ensure that your
theme works in production.</p>
<h2 id="unavailable-nunjucks-functionality">Unavailable Nunjucks Functionality</h2>
<p>The following Nunjucks features will <strong>not work in production</strong> on the backend:</p>
<h3 id="asnyceach"><a href="http://mozilla.github.io/nunjucks/templating.html#asynceach">asnycEach</a></h3>
<h3 id="asyncall"><a href="http://mozilla.github.io/nunjucks/templating.html#asyncall">asyncAll</a></h3>
<h3 id="raw"><a href="http://mozilla.github.io/nunjucks/templating.html#raw">raw</a></h3>
<h3 id="call"><a href="http://mozilla.github.io/nunjucks/templating.html#call">call</a></h3>
<h3 id="use-of-regular-expressions"><a href="http://mozilla.github.io/nunjucks/templating.html#regular-expressions">use of regular expressions</a></h3>
<p>Raw regular expressions cannot be used inline or in filters</p>
<h3 id="cycler-function"><a href="http://mozilla.github.io/nunjucks/templating.html#cycleritem1-item2-itemn">cycler function</a></h3>
<h3 id="joiner-function"><a href="http://mozilla.github.io/nunjucks/templating.html#joiner-separator">joiner function</a></h3>

            </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../scss" class="btn btn-neutral float-right" title="Stylesheets"/>Next <span class="icon icon-circle-arrow-right"></span></a>
      
      
        <a href="../structure" class="btn btn-neutral" title="Theme Structure"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
    <!-- Copyright etc -->
    </p>
  </div>

  Built with <a href="http://www.mkdocs.org">MkDocs</a> using <a href="https://github.com/snide/sphinx_rtd_theme">this theme</a>.
</footer>
	  
        </div>
      </div>

    </section>

  </div>

<div class="rst-versions" role="note" style="cursor: pointer">
    <span class="rst-current-version" data-toggle="rst-current-version">
        
      <span><a href="../structure" style="color: #fcfcfc;">&laquo; Previous</a></span>
      <span style="margin-left: 15px"><a href="../scss" style="color: #fcfcfc">Next &raquo;</a></span>
    </span>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51231189-4', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>